# Prerequisites
*.d
vscode
# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode/
02. area_of_sq_and_rect
./03. find_biggest_num_out_of_three
03. find_biggest_num_out_of_three
04. multiplication_tables
05. even_numbers_upto_a_range
"07. net_salary_of_an_employee.c"
07. net_salary_of_an_employee
"08. results_of_a_student.c"
08. results_of_a_student
10. perfect_number

"11. armstrong_number.c"
11. armstrong_number
"12. palindrome_number.c"
12. palindrome_number
